:host {
  .container {
    font-size: 18px;

    padding: 30px;

    ::ng-deep {
      mat-label, .mdc-text-field__input, .mdc-button__label {
        font-size: 18px;
      }

      .mat-mdc-unelevated-button {
        height: 57px;
      }
    }
  }
}
